
body {
    background-image: url("Img/img-background.jpg");
    background-color: black;
}

#background {

    /* width: 1920px;
            height: 1080px;*/
    width: 1900px;
    height: 910px;
}

#menu {
    padding: 10px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    /* background-color: blue; */
}

#LINKCF {
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    padding: 1px;
    color: #ffffff;
    margin-left: 1600px;
    margin-top: -2000px;
    text-decoration: none;
    /*background-color: red; */
}

#LINKCD {
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    padding: 1px;
    color: #5ed2da;
    margin-left: 20px;
    text-decoration: none;
    /* background-color: red;*/
}



table {
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #ffffff;
}

th {
    background-color: #ff4f66;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    margin-top: 250px;
    margin-left: 8%;
}

button {
    background-color: #ff2764;
    font-size: 12pt;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    height: 0.9cm;
    width: 4cm;
    border-radius: 50px;
    border-style: none;
    margin-left: 850px;
    margin-top: 30px;
    cursor: pointer;
}