
body {
    background-image: url("Img/img-background.jpg");
    background-color: black;
}

#background {
    /* width: 1920px;
    height: 1080px;*/
    width: 1900px;
    height: 950px;
}

#menu {
    padding: 10px;
    color: #ffffff;
    font-family: 'Sniglet', cursive;
    /* background-color: blue; */
}

#LINKCF {
    font-family: 'Sniglet', cursive;
    font-size: 15pt;
    padding: 1px;
    color: #ffffff;
    margin-left: 1600px;
    margin-top: -2000px;
    text-decoration: none;
    /*background-color: red; */
}

#LINKCD {
    font-family: 'Sniglet', cursive;
    font-size: 15pt;
    padding: 1px;
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    /* background-color: red;*/
}


h1 {
    width: 485px;
    color: #ffffff;
    font-size: 80pt;
    font-family: 'Quicksand', sans-serif;
    margin-top: 13%;
    margin-left: 16%;
    /*background-color: blue;*/
}

h2 {
    width: 485px;
    color: #ffffff;
    font-size: 14pt;
    font-family: 'Quicksand', sans-serif;
    margin-top: -3%;
    margin-left: 16%;
    /*background-color: blue; */
}

#linhaazul {
    background-color: #55e9d6;
    width: 3px;
    height: 70px;
    margin-left: 290px;
    margin-top: -70px;
}

button {
    background-color: #ff2764;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
    height: 1.3cm;
    width: 5cm;
    border-radius: 50px;
    border-style: none;
    margin-left: 300px;
    margin-top: 30px;
    cursor: pointer;
}

#btnplay {
    /*opacity: 0.5;*/
    background: transparent;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    height: 1.5cm;
    width: 1.5cm;
    border-radius: 50px;
    border: 2px solid #54f4dd;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
}
