
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CadastrarConta</title>
</head>
<body>
    <div>
        Essa é a tela de cadstro
    </div>

    <form action="/Login/CriarConta">
        <h2>Essa é a página de login do Vai e Volta</h2>
        <br /><br />

        <label for="nome"> Nome: </label>
        <input id="nome" name="nometxt" />
        <br /><br />

        <label for="senha"> Senha: </label>
        <input type="password" id="senha" name="senhatxt" />
        <br /><br />
        <input type="submit" value="Criar conta!" />
    </form>

</body>
</html>
