
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="/Login/Autentica">
        <h2>Essa é a página de login do Vai e Volta</h2>
        <br /><br />

        <label for="nome"> Nome: </label>
        <input id="nome" value="Admin" name="nometxt" />
        <br /><br />

        <label for="senha"> Senha: </label>
        <input type="password" id="senha" value="Admin" name="senhatxt" />
        <br /><br />
        <input type="submit" value="Entrar!" />
    </form>

    <form action="/Login/CadastrarConta">
        <input type="submit" value="Criar conta!" />
    </form>

</body>
</html>
